@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Disk Inventory Support System</h1>
    <p>Inventory management that can make a grown man cry.</p>
    <h3 class="font-weight-bold">Admin</h3>
    <div class="list-group">
        <div class="list-group-item"><a asp-controller="Disk">Disks</a></div>
        <div class="list-group-item"><a asp-controller="Borrower">Borrowers</a></div>
        <div class="list-group-item"><a asp-controller="BorrowLog">Check In/Out</a></div>
    </div>
</div>
