@model Disk
@{
    ViewBag.Title = "Delete Disk";
}
<h2>@ViewBag.Title</h2>

<form asp-action="Delete" method="post">
    <h3 class="text-center font-weight-bold">Delete @Model.DiskName? </h3>
    <a asp-controller="Disk" asp-action="Index" class="btn btn-primary">Cancel</a>
    <input type="hidden" asp-for="DiskId" value="@Model.DiskId" />
    <button type="submit" class="btn btn-primary">Delete</button>
</form>